/* cambria */
@font-face {
    font-family: Cambria;
    font-display: auto;
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/cambria/cambria-l.ttf');
}
@font-face {
    font-family: Cambria;
    font-display: auto;
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/cambria/cambria-b.ttf');
}
@font-face {
    font-family: Cambria;
    font-display: auto;
    font-weight: 500;
    font-style: italic;
    src: url('/assets/fonts/cambria/cambria-li.ttf');
}
@font-face {
    font-family: Cambria;
    font-display: auto;
    font-weight: 700;
    font-style: italic;
    src: url('/assets/fonts/cambria/cambria-bi.ttf');
}


/* calibre */

@font-face {
    font-family: Calibre;
    font-display: auto;
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/calibre/Calibre-Light.otf');
}
@font-face {
    font-family: Calibre;
    font-display: auto;
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/calibre/Calibre-Bold.otf');
}
@font-face {
    font-family: Calibre;
    font-display: auto;
    font-weight: 500;
    font-style: italic;
    src: url('/assets/fonts/calibre/Calibre-LightItalic.otf');
}
@font-face {
    font-family: Calibre;
    font-display: auto;
    font-weight: 700;
    font-style: italic;    
    src: url('/assets/fonts/calibre/Calibre-BoldItalic.otf');
}